<h1>Candidates</h1>
<div id="add-candidate">
<%= link_to "Add Candidate", new_candidate_path %>
</div>
<div id="candidates">
<% @candidates.each do |candidate| %>
    <div class="candidate-container">
    <div class="candidate-name">
    <%= link_to candidate.name, candidate %>
    </div>
    <div class="candidate-status">
    <%= turbo_frame_tag "candidate_status" do %>
        <%= render 'status', candidate: candidate %>
      <% end %>
    </div>
    </div>
    <% end %>
</div>
